.quiz {
    width: 50%;
    margin: auto;
    margin-left: 25%;
    margin-top: 23vh;
    .quiz-btn {
        margin-top: 50px;
        .quiz-next-btn, .quiz-submit-btn {
            float: right!important;
        }
    }
    span {
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
}

.loading {
    margin: auto!important;
    margin-top: 25vh!important;
    text-align: center!important;
    margin-left: 42%!important;
}

@media(max-width: 768px) {
    .quiz {
        width: 80%;
        margin-left: 10%;
        margin-top: 17vh;
    }
}
