.result {
    margin: auto;
    text-align: center;
    margin-top: 23vh;
    span {
        color: rgb(0, 188, 212);
    }
}

.loading {
    margin: auto!important;
    margin-top: 25vh!important;
    text-align: center!important;
    margin-left: 35%!important;
}

@media(max-width: 768px) {
    .result {
        width: 90%; 
        margin-top: 30vh;
        h1 {
            font-size: 24px;
        }
    }
}
