.home {
    margin: auto;
    text-align: center;
    margin-top: 32vh;
    .home-btn {
        width: 200px!important;
    }
}

.loading {
    margin: auto!important;
    margin-top: 25vh!important;
    text-align: center!important;
    margin-left: 38%!important;
}

@media(max-width: 768px) {
    .home {
        margin-top: 30vh;
    }
}
