.home {
    margin: auto;
    text-align: center;
    margin-top: 32vh;
    .home-btn {
        width: 200px!important;
    }
}

@media(max-width: 768px) {
    .home {
        margin-top: 30vh;
    }
}
